html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.main-portfolio {
    height: 100vh;
    width: 100%;
}

.content-portfolio {
    height: inherit;
    width: 100%;
}

.background-portfolio {
    position: relative;
    height: 100vh;
    width: 100%;
}

.background-portfolio img {
    position: relative;
    height: 100vh;
    width: 100%;
    filter: brightness(50%);
}

.body-portfolio {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
}

.upper-body {
    height: 100vh;
    width: 100%;
    color: white;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.main-content {
    font-family: "Segoe UI", Arial, sans-serif;
    position: absolute;
    margin-top: 2vh;
    margin-left: 35vh;
    width: 190vh;
    height: 95vh;
    background-color: #6FB98F;
    text-transform: uppercase;
    border-radius: 10px;
}

#First-Message {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.right-part {
    text-transform: uppercase;
    float: left;
    height: 65.5vh;
    width: 45%;
    margin-left: 40px;
}

.left-part {
    text-transform: uppercase;
    float: right;
    height: 65.5vh;
    width: 45%;
    margin-right: 40px;
}

.form-label1 {
    padding-left: 5vh;
    font-size: 1.3rem;
}

.form-label2 {
    padding-left: 5vh;
    font-size: 1.3rem;
}

.form-input {
    text-align: center;
    padding-bottom: 5vh;
}

.form-input-text {
    text-align: center;
    height: 5vh;
    width: 90%;
    border-radius: 10px;
}

.form-input-textarea {
    text-align: center;
    height: 58vh;
    width: 88%;
    border-radius: 10px;
}

.form-submit {
    float: left;
    height: 10vh;
    width: 100%;
    padding-top: 3vh;
    padding-left: 67vh;
}

.btn-submit {
    margin-left: 40px;
    padding: 5px 25px;
    text-decoration: none;
    color: white;
    border-style: solid;
    border-color: white;
    background-color: #6FB98F;
    border-radius: 10px;
}

#btn-clear {
    margin-left: 14px;
}

/* */

#First-Message:hover {
    transition: 0.3s ease;
    background-color: #0C9463;
    color:#6FB98F;
    text-shadow: 1px 1px #2d334a;
}

.right-part:hover {
    transition: 0.3s ease;
    background-color: #0C9463;
    color:#6FB98F;
    text-shadow: 1px 1px #2d334a;
}

.left-part:hover {
    transition: 0.3s ease;
    background-color: #0C9463;
    color:#6FB98F;
    text-shadow: 1px 1px #2d334a;
}

.main-content h1:hover {
    transition: 0.7s ease;
}

.form-label1:hover {
    transition: 0.3s ease;
    background-color: #0C9463;
    color:#6FB98F;
    text-shadow: 1px 1px #2d334a;
}

.form-label2:hover {
    transition: 0.3s ease;
    background-color: #0C9463;
    color:#6FB98F;
    text-shadow: 1px 1px #2d334a;
}

.form-input-text:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.btn-submit:hover {
    transition: 0.3s ease;
    background-color: #0C9463;
    color:#6FB98F;
    text-shadow: 1px 1px #2d334a;
}


.form-input-textarea:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.02);
}