html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
    scroll-behavior: smooth;
}

.main-portfolio {
    width: 100%;
    height: 100vh;
}

.content-portfolio {
    width: 100%;
    height: 100vh;
}

.klyde-guevarra-background {
    width: 100%;
    height: 100vh;
    background: url(../Images/background2.jpg);
    background-size: cover;
    filter: brightness(30%);
    position: relative;
}

.klyde-guevarra-front {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0vh;
}

.profile-picture {
    height: inherit;
    width: 30%;
    float: left;
    color: white;
}

.profile-picture img {
    margin-top: 80px;
    margin-left: 78px;
    height: 250px;
    width: 250px;
    border-radius: 50px 50px;
}

.profile-picture h1 {
    margin-left: 78px;
}

.profile-picture h2 {
    margin-left: 78px;
    margin-right: 50px;
}

.description {
    height: inherit;
    width: 70%;
    float: left;
    color: white;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.description h2{
    margin-top: 80px;
    margin-left: 78px;
    margin-right: 50px;
}