html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.main-portfolio {
    height: 100vh;
    width: 100%;
    background-color: #CCCCCC;
}

.content-portfolio {
    font-family: "Segoe UI", Arial, sans-serif;
    height: 100vh;
    margin-left: 90px;
    margin-right: 101px;
    background-color: yellow;
}

.background-portfolio {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
}

.background-portfolio img {
    position: relative;
    padding-top: 1vh;
    height: 99vh;
    width: 100%;
    margin-right: 85px;
    filter: brightness(50%);
}

.context {
    font-family: "Segoe UI", Arial, sans-serif;
    position: absolute;
    bottom: 0;
    height: 100vh;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(4px);
    padding-top: 0vh;
}

.resume {
    height: 10vh;
    padding-left: 5vh;
    padding-right: 3vh;
    margin-top: 20px;
}

.resume-text {
    color: white;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.images-right {
    float: right;
}

.images-right img {
    height: 40px;
    width: 40px;
    border-radius: 30%;
    margin-top: 16px;
    margin-right: 10px;
}

.box-profile {
    font-family: "Segoe UI", Arial, sans-serif;
    float: left;
    height: 83vh;
    width: 60vh;
    color: white;
    text-shadow: 1px 1px black;
    margin-top: 4vh;
    margin-left: 5vh;
    border-radius: 20px;
    background-color: white;
}

.box-profile a {
    height: 250px;
    width: 250px;
}

.box-profile img {
    height: 255px;
    width: 250px;
    border-radius: 20px;
}
.box-status-upper{
    color:#6FB98F;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
.box-status-lower{
    font-family: "Segoe UI", Arial, sans-serif;
    height: 23vh;
    color: white;
    margin-top: 5px;
    padding-left: 32px;
    padding-right: 32px;
}
#title{
    color:#6FB98F;
}
#p-space{
    margin-bottom: -20px;
}
#p{
    margin-bottom: -10px;
}